[submodule "external_libraries/spdlog"]
	path = external_libraries/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "external_libraries/boost_geometry"]
	path = external_libraries/boost_geometry
	url = git@github.com:boostorg/geometry.git
	branch = boost-1.68.0
[submodule "external_libraries/boost_math"]
	path = external_libraries/boost_math
	url = git@github.com:boostorg/math.git
	branch = boost-1.68.0
[submodule "exteral_libraries/poly2tri"]
	path = exteral_libraries/poly2tri
	url = git@github.com:jhasse/poly2tri.git
[submodule "external_libraries/poly2tri"]
	path = external_libraries/poly2tri
	url = git@github.com:jhasse/poly2tri.git
